.distance-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  border-radius: 16px;
}

.distance-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
  height: 56px;
  width: 160px;
  background: var(--gray100);
  border: 1px solid var(--gray300);
  border-radius: 16px;
  gap: 2px;
}

.distance-input {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--gray900);
  border: none;
  background: transparent;
  text-align: center;
  outline: none;
  width: 160px;
}

.distance-display p {
  color: var(--gray600);
  position: absolute;
  left: 60%;
}

.quick-options {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.quick-option-chip {
  padding: 8px;
  border-radius: 12px;
  border: none;
  background: var(--gray200);
  color: var(--gray900);
  font-family: Inter;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  height: 44px;
  width: 78px;
}

.quick-option-chip.active {
  background: var(--green100);
  color: var(--green700);
  border: 1px solid var(--green500);
}
