.feed-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--white);
  border-radius: 16px;
  padding: 24px;
  border: 1px solid var(--gray300);
  width: 100%;
}

.feed-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feed-header .small-body {
  color: var(--gray600);
}

.feed-details {
  display: flex;
  align-items: center;
  gap: 8px;
}

.feed-details p {
  width: 200px;
  color: var(--gray900);
}

.avatar {
  width: 48px;
  height: 48px;
  background-color: var(--gray300);
  border-radius: 100px;
}

.feed-stats-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--gray200);
  border-radius: 16px;
  padding: 16px;;
  gap: 16px;
}

.feed-stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4px;
  width: 100%;
}

.feed-stat-item p {
  color: var(--gray900);
}

.feed-stat-item .small-body {
  color: var(--gray600);
}

.achievement-container {
  background-color: var(--purple100);
  color: var(--purple500);
  border-radius: 100px;
  padding: 4px 16px;
  width: fit-content;
}
